# URLが https://example.microcms.io の場合は example
MICROCMS_SERVICE_DOMAIN=your-service-domain
# GET権限だけを付与したAPIキー
MICROCMS_API_KEY=your-read-only-api-key
# microCMSで作成するリスト形式APIのエンドポイント
MICROCMS_ENDPOINT=cards

