:root{
    /* font */
    --font-base: "ff-din-paneuropean","fot-cezanne-pron",serif;

    /* color */
    --color-bg: #DDDDDD;
    --color-primary: #EE5821;
    --color-primary-variant: #E49476;
    

    /* text */
    --f-base: 15px;
    --f-xs: 10px;
    --f-caption: 13px;
    --f-large: 20px;
    --f-display: 48px;
    --f-display-2: 32px;

    text-box-edge: text;
    text-box-trim: trim-both;

    --index-circle: 20px;      /* 円の直径（調整用） */
    --index-circle-border: 2px; /* 枠線の太さ */
}

::selection {
    color: var(--color-bg);
    background-color: var(--color-primary);
}

button {
    font-family: var(--font-base);
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: var(--font-base);
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-primary);
    line-height: 100%;
    font-weight: 500;
    margin: 0px;
}

p {
    font-family: var(--font-base);
    margin: 0;
    background-color: none;
    color: var(--color-primary);
    line-height: 100%;
    font-weight: 500;
    margin: 0px;
}

a {
    font-family: var(--font-base);
    margin: 0;
    background-color: none;
    color: var(--color-primary);
    line-height: 100%;
    font-weight: 700;
    margin: 0px;
}


h1 {
    font-family: var(--font-base);
    font-size: var(--f-display);
    font-weight: 500;;
    line-height: 100%;
    margin: 0px;
}

h2{
    font-family: var(--font-base);
    font-size: var(--f-display-2);
    line-height: 100%;
    font-weight: 600;
    margin: 0px;
}

h3 {
    font-family: var(--font-base);
    font-size: var(--f-large);
    line-height: 100%;
    font-weight: 500;
    margin: 0px;
}


