---
const { id, title, caption, description, tag, href } = Astro.props;
---
<a class="Card" href={href ?? "#"} target="_blank">
    <div class="Upper">
        <h3>{title}</h3>
        <p class="Caption">{caption}</p>
    </div>
    <div class="Lower">
        <p class="Desc">{description}</p>
        <p class="Tag">{tag}</p>
    </div>
</div>

<style>
    .Card {
        display: flex;
        flex-flow: column;
        border-bottom: 0.5px solid var(--color-primary);
        padding: 0px;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        margin: 0px;
        color: var(--color-primary);
        text-decoration: none;
        background-color: rgba(0,0,0,0);
        height: 100px;
        justify-content: space-between;
        -webkit-tap-highlight-color: var(--color-primary);
    }

    .Upper h3 {
        margin-bottom: 0.5rem;;
    }

    .Upper p {
        /* margin-left: 1rem;; */
    }

    .Lower {
        display: flex;
        justify-content: space-between;
    }

    .Desc {
        padding: 3px 0 3px 0;
    }

    .Tag {
        font-size: var(--f-caption);
        font-weight: 500;
        /* border: 0.5px solid var(--color-primary); */
        background-color: var(--color-primary);
        color: var(--color-bg);
        padding: 3px;

    }

    p {
        margin: 0;
    }

    .Card:hover {
        background-color: var(--color-primary);
        color: var(--color-bg);
    }

    .Card:hover p {
        color: var(--color-bg);
    }

    /* .card h3 :hover{
        color: var(--color-bg);
    } */

         .Desc{
        font-size: var(--f-caption);
    }

    .Caption{
        font-size: var(--f-caption);
    }
</style>