---
import "../styles/global.css";
const {title} = Astro.props;
---
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-witdh, initial-scale=1" />
        <title>{title}</title>
        <link rel="preconnect" href="https://use.typekit.net">
        <link rel="stylesheet" href="https://use.typekit.net/zcg4pth.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    </head>
    <body>
        <slot/>
    </body>
</html>